openapi: 3.0.0
info:
  description: |-
    The payments API is used to create a session to offer Klarna's payment methods as part of your checkout. As soon as the purchase is completed the order should be read and handled using the [`Order Management API`](https://docs.klarna.com/api/ordermanagement).

    **Note:** Examples provided in this section includes full payloads, including all supported fields , required and optionals. In order to implement a best in class request we recommend you don't include customer details when initiating a payment session. Refer to [Initiate a payment](https://docs.klarna.com/klarna-payments/integrate-with-klarna-payments/step-1-initiate-a-payment/) section for further details.

    Read more on [Klarna payments](https://docs.klarna.com/klarna-payments/).
  title: Klarna Payments API V1
  version: 1.0.0
  x-document-metadata:
    copyright: © 2005 - 2024 Klarna Bank AB (publ). All rights reserved.
    trace-id: e99bf51-3849839-docs-portal-api-1708002180806
    date-created: 2024-02-15T13:03:31+0000
  x-konfig-ignore:
    potential-incorrect-type: true
externalDocs:
  description: Find out more about the Klarna REST APIs
  url: https://docs.klarna.com/api
servers:
- url: https://api.klarna.com
tags:
- name: Payment
paths:
  /payments/v1/sessions:
    post:
      description: |-
        Use this API call to create a Klarna Payments session.<br/>When a session is created you will receive the available `payment_method_categories` for the session, a `session_id` and a `client_token`. The `session_id` can be used to read or update the session using the REST API. The `client_token` should be passed to the browser.
        Read more on **[Create a new payment session](https://docs.klarna.com/klarna-payments/integrate-with-klarna-payments/step-1-initiate-a-payment/)**.
      operationId: Payment_createSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session_create'
        description: session_request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant_session'
          description: successful operation
        "400":
          description: We were unable to create a session with the provided data.
            Some field constraint was violated.
        "403":
          description: You were not authorized to execute this operation.
      summary: Create a session
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--payments-v1-sessions
      x-content-type: application/json
      x-accepts: application/json
  /payments/v1/sessions/{session_id}:
    get:
      description: |-
        Use this API call to get a Klarna Payments session. You can read the Klarna Payments session at any time after it has been created, to get information about it. This will return all data that has been collected during the session.
        Read more on **[Read an existing payment session](https://docs.klarna.com/klarna-payments/other-actions/check-the-details-of-a-payment-session/)**.
      operationId: Payment_getSessionDetails
      parameters:
      - description: session_id
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session_read'
          description: successful operation
        "403":
          description: You were not authorized to execute this operation.
        "404":
          description: The session does not exist.
      summary: Get details about a session
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--payments-v1-sessions-session_id
      x-accepts: application/json
    post:
      description: |-
        Use this API call to update a Klarna Payments session with new details, in case something in the order has changed and the checkout has been reloaded. Including if the consumer adds a new item to the cart or if consumer details are updated.
        Read more on **[Update an existing payment session](https://docs.klarna.com/klarna-payments/other-actions/update-the-cart/)**.
      operationId: Payment_updateSessionDetails
      parameters:
      - description: session_id
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session'
        description: session_request
        required: true
      responses:
        "204":
          description: The session was updated successfully.
        "400":
          description: We were unable to update the session with the provided data.
            Some field constraint was violated.
        "403":
          description: You were not authorized to execute this operation.
        "404":
          description: The session does not exist.
      summary: Update a session
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--payments-v1-sessions-session_id
      x-content-type: application/json
      x-accepts: application/json
  /payments/v1/authorizations/{authorizationToken}:
    delete:
      description: |-
        Use this API call to cancel/release an authorization. If the `authorization_token` received during a Klarna Payments won’t be used to place an order immediately you could release the authorization.
        Read more on **[Cancel an existing authorization](https://docs.klarna.com/klarna-payments/other-actions/cancel-an-authorization/)**.
      operationId: Payment_cancelAuthorization
      parameters:
      - explode: false
        in: path
        name: authorizationToken
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The authorization was cancelled successfully.
        "403":
          description: You were not authorized to execute this operation.
        "404":
          description: The authorization does not exist.
      summary: Cancel an authorization
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--payments-v1-authorizations-authorizationToken
      x-accepts: application/json
  /payments/v1/authorizations/{authorizationToken}/order:
    post:
      description: |-
        Use this API call to create a new order. Placing an order towards Klarna means that the Klarna Payments session will be closed and that an order will be created in Klarna's system.<br/>When you have received the `authorization_token` for a successful authorization you can place the order. Among the other order details in this request, you include a URL to the confirmation page for the customer.<br/>When the Order has been successfully placed at Klarna, you need to handle it either through the Merchant Portal or using [Klarna’s Order Management API](https://docs.klarna.com/api/payments/).
        Read more on **[Create a new order](https://docs.klarna.com/klarna-payments/integrate-with-klarna-payments/step-3-create-an-order/)**.
      operationId: Payment_createOrder
      parameters:
      - explode: false
        in: path
        name: authorizationToken
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_order_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
          description: Order was successfully created.
        "400":
          description: We were unable to create an order with the provided data. Some
            field constraint was violated.
        "403":
          description: You were not authorized to execute this operation.
        "404":
          description: The authorization does not exist.
        "409":
          description: The data in the request does not match the session for the
            authorization.
      summary: Create an order
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--payments-v1-authorizations-authorizationToken-order
      x-content-type: application/json
      x-accepts: application/json
  /payments/v1/authorizations/{authorizationToken}/customer-token:
    post:
      description: |-
        Use this API call to create a Klarna Customer Token.<br/>After having obtained an `authorization_token` for a successful authorization, this can be used to create a purchase token instead of placing the order. Creating a Klarna Customer Token results in Klarna storing customer and payment method details.
        Read more on **[Generate a consumer token](https://docs.klarna.com/klarna-payments/in-depth-knowledge/customer-token/)**.
      operationId: Payment_generateCustomerToken
      parameters:
      - explode: false
        in: path
        name: authorizationToken
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer_token_creation_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_token_creation_response'
          description: Token was successfully created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorV2'
          description: We were unable to create a customer token with the provided
            data. Some field constraint was violated.
          x-do-not-generate: true
        "403":
          description: You were not authorized to execute this operation.
        "404":
          description: The authorization does not exist.
        "409":
          description: The data in the request does not match the session for the
            authorization.
      summary: Generate a consumer token
      tags:
      - Payment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--payments-v1-authorizations-authorizationToken-customer-token
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    ErrorV2:
      properties:
        correlation_id:
          type: string
        error_code:
          type: string
        error_messages:
          items:
            type: string
          type: array
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    address:
      example:
        country: GB
        street_address: 33 Cavendish Square
        city: London
        organization_name: organization_name
        title: Mr.
        given_name: Adam
        phone: +44795465131
        street_address2: Floor 22 / Flat 2
        attention: Attn
        postal_code: W1G 0PW
        region: OH
        family_name: Andersson
        email: test.sam@test.com
      properties:
        title:
          description: "Customer’s Title. Allowed values per country:\nUK - \"Mr\"\
            , \"Ms\"\nDE - \"Herr\", \"Frau\"\nAT: \"Herr, \"Frau\"\nCH: de-CH: \"\
            Herr, \"Frau\" it-CH: \"Sig.\", \"Sig.ra\" fr-CH: \"M\", \"Mme\" \nBE:\
            \ \"Dhr.\", \"Mevr.\"\nNL: \"Dhr.\", \"Mevr.\""
          example: Mr.
          maxLength: 20
          minLength: 0
          type: string
          x-konfig-original-example: Mr.
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-title
        attention:
          description: ‘Attn.’ (if applicable). Only applicable for B2B customers.
          example: Attn
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: Attn
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-attention
        city:
          description: Customer’s city.
          example: London
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: London
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-city
        country:
          description: "Customer’s country. This value overrides the purchase country\
            \ if they are different. Should follow the standard of ISO 3166 alpha-2.\
            \ E.g. GB, US, DE, SE."
          example: GB
          pattern: "^[A-Za-z]{2,2}$"
          type: string
          x-konfig-original-example: GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-country
        email:
          description: Customer’s email address.
          example: test.sam@test.com
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: test.sam@test.com
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-email
        family_name:
          description: |-
            Customers family name in UTF-8 encoding.
            Cannot be only numbers, must be more than 1 character.
            Allowed special characters: -'’.
            More information can be found [in this link](https://docs.klarna.com/klarna-payments/in-depth-knowledge/customer-data-requirements/#details-needed-per-market)
          example: Andersson
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: Andersson
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-family_name
        given_name:
          description: |-
            Customers given name in UTF-8 encoding.
            Cannot be only numbers, must be more than 1 character.
            Allowed special characters: -'’.
            More information can be found [in this link](https://docs.klarna.com/klarna-payments/in-depth-knowledge/customer-data-requirements/#details-needed-per-market)
          example: Adam
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: Adam
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-given_name
        organization_name:
          description: Organization name (if applicable). Only applicable for B2B
            customers.
          maxLength: 99
          minLength: 0
          type: string
        phone:
          description: Phone number. Preferably a mobile phone number.
          example: +44795465131
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: +44795465131
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-phone
        postal_code:
          description: |-
            Customer’s postal code. Validation according to Universal Postal Union addressing systems.
            E.g. 12345, W1G OPW.
          example: W1G 0PW
          maxLength: 10
          minLength: 0
          type: string
          x-konfig-original-example: W1G 0PW
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-postal_code
        region:
          description: "Customer’s region or state - Mandatory for US and AU market.\
            \ Validations according to ISO 3166-2 format, e.g. OH, NJ, etc."
          example: OH
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: OH
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-region
        street_address:
          description: |-
            Customer’s street address. Regional formatting is required, as follows:
            UK/US/FR: 33 Cavendish Square
            Rest of EU: De Ruijterkade 7
          example: 33 Cavendish Square
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: 33 Cavendish Square
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-street_address
        street_address2:
          description: 'Customer’s street address. Second Line. '
          example: Floor 22 / Flat 2
          maxLength: 99
          minLength: 0
          type: string
          x-konfig-original-example: Floor 22 / Flat 2
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-address-properties-street_address2
      type: object
    asset_urls:
      example:
        standard: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
        descriptive: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
      properties:
        descriptive:
          description: URL of the descriptive asset. Using this dynamic asset will
            make sure that any copy update of Klarna will automatically be propagated.
          example: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          type: string
          x-konfig-original-example: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-asset_urls-properties-descriptive
        standard:
          description: URL of the standard asset. Using this dynamic asset will make
            sure that any copy update of Klarna will automatically be propagated.
          example: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          type: string
          x-konfig-original-example: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-asset_urls-properties-standard
      type: object
    attachment:
      example:
        content_type: application/vnd.klarna.internal.emd-v2+json
        body: "{\"customer_account_info\":[{\"unique_account_identifier\":\"test@gmail.com\"\
          ,\"account_registration_date\":\"2017-02-13T10:49:20Z\",\"account_last_modified\"\
          :\"2019-03-13T11:45:27Z\"}]}"
      properties:
        body:
          description: "The content of the extra merchant data should be presented\
            \ as a string inside this property. The body should be an object containing\
            \ any of the keys and sub-objects described below serialized to JSON.\
            \ More information on that object can be found [here](https://developers.klarna.com/api/#attachment-schema)."
          example: "{\"customer_account_info\":[{\"unique_account_identifier\":\"\
            test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          type: string
          x-konfig-original-example: "{\"customer_account_info\":[{\"unique_account_identifier\"\
            :\"test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-attachment-properties-body
        content_type:
          description: The content type of the body. It is usually represented as
            "application/vnd.klarna.internal.emd-v2+json"
          example: application/vnd.klarna.internal.emd-v2+json
          type: string
          x-konfig-original-example: application/vnd.klarna.internal.emd-v2+json
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-attachment-properties-content_type
      required:
      - body
      - content_type
      type: object
    authorized_payment_method:
      example:
        number_of_days: 0
        number_of_installments: 6
        type: invoice
      properties:
        number_of_days:
          format: int32
          type: integer
        number_of_installments:
          format: int32
          type: integer
        type:
          enum:
          - invoice
          - fixed_amount
          - base_account
          - direct_debit
          - direct_bank_transfer
          - b2b_invoice
          - card
          - slice_it_by_card
          - pay_later_by_card
          - pay_by_card
          - fixed_sum_credit
          - alternative_payment_method
          type: string
      required:
      - type
      type: object
    create_order_request:
      properties:
        authorization_token:
          description: Authorization token.
          readOnly: true
          type: string
        auto_capture:
          default: false
          description: Allow merchant to trigger auto capturing.
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-auto_capture
        billing_address:
          $ref: '#/components/schemas/address'
        custom_payment_method_ids:
          description: "Promo codes - The array could be used to define which of the\
            \ configured payment options within a payment category (pay_later, pay_over_time,\
            \ etc.) should be shown for this purchase. Discuss with the delivery manager\
            \ to know about the promo codes that will be configured for your account.\
            \ The feature could also be used to provide promotional offers to specific\
            \ customers (eg: 0% financing). Please be informed that the usage of this\
            \ feature can have commercial implications. "
          items:
            type: string
          type: array
        customer:
          $ref: '#/components/schemas/customer'
        locale:
          description: |-
            Used to define the language and region of the customer. The locale follows the format of [RFC 1766](https://datatracker.ietf.org/doc/rfc1766/), meaning its value consists of language-country.
            Read more on **[Supported Locals and Currencies](https://docs.klarna.com/klarna-payments/in-depth-knowledge/puchase-countries-currencies-locales/)**.
          example: en-GB
          pattern: "^[A-Za-z]{2,2}(?:-[A-Za-z]{2,2})*$"
          type: string
          x-konfig-original-example: en-GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-locale
        merchant_data:
          description: Pass through field to send any information about the order
            to be used later for reference while retrieving the order details (max
            6000 characters)
          example: "{\"order_specific\":[{\"substore\":\"Women's Fashion\",\"product_name\"\
            :\"Women Sweatshirt\"}]}"
          maxLength: 6000
          minLength: 0
          type: string
          x-konfig-original-example: "{\"order_specific\":[{\"substore\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-merchant_data
        merchant_reference1:
          description: Used for storing merchant's internal order number or other
            reference.
          example: ON4711
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: ON4711
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-merchant_reference1
        merchant_reference2:
          description: Used for storing merchant's internal order number or other
            reference. The value is available in the settlement files. (max 255 characters).
          example: hdt53h-zdgg6-hdaff2
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: hdt53h-zdgg6-hdaff2
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-merchant_reference2
        merchant_urls:
          $ref: '#/components/schemas/merchant_urls'
        order_amount:
          description: "Total amount of the order including tax and any available\
            \ discounts. The value should be in non-negative minor units. Eg: 25 Euros\
            \ should be 2500."
          example: 2000
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 2000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-order_amount
        order_lines:
          description: The array containing list of line items that are part of this
            order. Maximum of 1000 line items could be processed in a single order.
          items:
            $ref: '#/components/schemas/order_line'
          maxItems: 1000
          minItems: 1
          type: array
        order_tax_amount:
          description: "Total tax amount of the order. The value should be in non-negative\
            \ minor units. Eg: 25 Euros should be 2500."
          example: 333
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 333
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-order_tax_amount
        payment_method_categories:
          description: Available payment method categories
          items:
            $ref: '#/components/schemas/payment_method_category'
          readOnly: true
          type: array
          uniqueItems: true
        purchase_country:
          description: "The purchase country of the customer. The billing country\
            \ always overrides purchase country if the values are different. Formatted\
            \ according to ISO 3166 alpha-2 standard, e.g. GB, SE, DE, US, etc."
          example: GB
          pattern: "^[A-Za-z]{2,2}$"
          type: string
          x-konfig-original-example: GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-purchase_country
        purchase_currency:
          description: "The purchase currency of the order. Formatted according to\
            \ ISO 4217 standard, e.g. USD, EUR, SEK, GBP, etc."
          example: GBP
          pattern: "^[A-Za-z]{3,3}$"
          type: string
          x-konfig-original-example: GBP
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-purchase_currency
        shipping_address:
          $ref: '#/components/schemas/address'
        status:
          description: "The current status of the session. Possible values: 'complete',\
            \ 'incomplete' where 'complete' is set when the order has been placed."
          enum:
          - complete
          - incomplete
          example: complete
          readOnly: true
          type: string
          x-konfig-original-example: complete
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-create_order_request-properties-status
      required:
      - order_amount
      - order_lines
      - purchase_country
      - purchase_currency
      type: object
    customer:
      properties:
        title:
          description: "Customer’s Title. Allowed values per country:\nUK - \"Mr\"\
            , \"Ms\"\nDE - \"Herr\", \"Frau\"\nAT: \"Herr, \"Frau\"\nCH: de-CH: \"\
            Herr, \"Frau\" it-CH: \"Sig.\", \"Sig.ra\" fr-CH: \"M\", \"Mme\" \nBE:\
            \ \"Dhr.\", \"Mevr.\"\nNL: \"Dhr.\", \"Mevr.\""
          example: Mr.
          type: string
          x-konfig-original-example: Mr.
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer-properties-title
        date_of_birth:
          description: Customer’s date of birth. The format is ‘yyyy-mm-dd’
          example: 1978-12-31
          type: string
          x-konfig-original-example: 1978-12-31
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer-properties-date_of_birth
        gender:
          description: Customer’s gender - ‘male’ or ‘female’
          example: male
          type: string
          x-konfig-original-example: male
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer-properties-gender
        last_four_ssn:
          description: Last four digits of the customer's social security number.
            This value is available for US customers.
          pattern: "^([0-9]{4}|[0-9]{9})$"
          type: string
        national_identification_number:
          description: The customer's national identification number. This value is
            available for EU customers utilizing national identification numbers.
          type: string
        organization_entity_type:
          description: Organization entity type. Only applicable for B2B customers.
          enum:
          - LIMITED_COMPANY
          - PUBLIC_LIMITED_COMPANY
          - ENTREPRENEURIAL_COMPANY
          - LIMITED_PARTNERSHIP_LIMITED_COMPANY
          - LIMITED_PARTNERSHIP
          - GENERAL_PARTNERSHIP
          - REGISTERED_SOLE_TRADER
          - SOLE_TRADER
          - CIVIL_LAW_PARTNERSHIP
          - PUBLIC_INSTITUTION
          - OTHER
          type: string
        organization_registration_id:
          description: Organization registration id. Only applicable for B2B customers.
          type: string
        type:
          description: "Type of customer in the session. If nothing is added, a B2C\
            \ session will be the default. If it is a b2b-session, you should enter\
            \ organization to trigger a B2B session."
          example: organization
          pattern: ^(person|organization)$
          type: string
          x-konfig-original-example: organization
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer-properties-type
        vat_id:
          description: VAT ID. Only applicable for B2B customers.
          type: string
      type: object
    customer_read:
      example:
        gender: male
        date_of_birth: 1978-12-31
        organization_registration_id: organization_registration_id
        vat_id: vat_id
        title: Mr.
        type: organization
        organization_entity_type: LIMITED_COMPANY
      properties:
        title:
          description: "Customer’s Title. Allowed values per country:\nUK - \"Mr\"\
            , \"Ms\"\nDE - \"Herr\", \"Frau\"\nAT: \"Herr, \"Frau\"\nCH: de-CH: \"\
            Herr, \"Frau\" it-CH: \"Sig.\", \"Sig.ra\" fr-CH: \"M\", \"Mme\" \nBE:\
            \ \"Dhr.\", \"Mevr.\"\nNL: \"Dhr.\", \"Mevr.\""
          example: Mr.
          type: string
          x-konfig-original-example: Mr.
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_read-properties-title
        date_of_birth:
          description: Customer’s date of birth. The format is ‘yyyy-mm-dd’
          example: 1978-12-31
          type: string
          x-konfig-original-example: 1978-12-31
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_read-properties-date_of_birth
        gender:
          description: Customer’s gender - ‘male’ or ‘female’
          example: male
          type: string
          x-konfig-original-example: male
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_read-properties-gender
        organization_entity_type:
          description: Organization entity type. Only applicable for B2B customers.
          enum:
          - LIMITED_COMPANY
          - PUBLIC_LIMITED_COMPANY
          - ENTREPRENEURIAL_COMPANY
          - LIMITED_PARTNERSHIP_LIMITED_COMPANY
          - LIMITED_PARTNERSHIP
          - GENERAL_PARTNERSHIP
          - REGISTERED_SOLE_TRADER
          - SOLE_TRADER
          - CIVIL_LAW_PARTNERSHIP
          - PUBLIC_INSTITUTION
          - OTHER
          type: string
        organization_registration_id:
          description: Organization registration id. Only applicable for B2B customers.
          type: string
        type:
          description: "Type of customer in the session. If nothing is added, a B2C\
            \ session will be the default. If it is a b2b-session, you should enter\
            \ organization to trigger a B2B session."
          example: organization
          type: string
          x-konfig-original-example: organization
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_read-properties-type
        vat_id:
          description: VAT ID. Only applicable for B2B customers.
          type: string
      type: object
    customer_read_create_token:
      example:
        gender: male
        date_of_birth: 1978-12-31
      properties:
        date_of_birth:
          description: Customer’s date of birth. The format is ‘yyyy-mm-dd’
          example: 1978-12-31
          type: string
          x-konfig-original-example: 1978-12-31
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_read_create_token-properties-date_of_birth
        gender:
          description: Customer’s gender - ‘male’ or ‘female’
          example: male
          type: string
          x-konfig-original-example: male
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_read_create_token-properties-gender
      type: object
    customer_token_creation_request:
      properties:
        description:
          description: Description of the purpose of the token.
          maxLength: 255
          minLength: 1
          type: string
        billing_address:
          $ref: '#/components/schemas/address'
        customer:
          $ref: '#/components/schemas/customer'
        intended_use:
          description: Intended use for the token.
          enum:
          - SUBSCRIPTION
          type: string
        locale:
          description: RFC 1766 customer's locale.
          example: en-GB
          pattern: "^[A-Za-z]{2,2}(?:-[A-Za-z]{2,2})*$"
          type: string
          x-konfig-original-example: en-GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_token_creation_request-properties-locale
        purchase_country:
          description: ISO 3166 alpha-2 purchase country.
          example: GB
          pattern: "^[A-Za-z]{2,2}$"
          type: string
          x-konfig-original-example: GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_token_creation_request-properties-purchase_country
        purchase_currency:
          description: ISO 4217 purchase currency.
          example: GBP
          pattern: "^[A-Za-z]{3,3}$"
          type: string
          x-konfig-original-example: GBP
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_token_creation_request-properties-purchase_currency
      required:
      - description
      - intended_use
      - locale
      - purchase_country
      - purchase_currency
      type: object
    customer_token_creation_response:
      example:
        token_id: 0b1d9815-165e-42e2-8867-35bc03789e00
        payment_method_reference: 0b1d9815-165e-42e2-8867-35bc03789e00
        billing_address:
          country: GB
          street_address: 33 Cavendish Square
          city: London
          organization_name: organization_name
          title: Mr.
          given_name: Adam
          phone: +44795465131
          street_address2: Floor 22 / Flat 2
          attention: Attn
          postal_code: W1G 0PW
          region: OH
          family_name: Andersson
          email: test.sam@test.com
        redirect_url: https://credit.klarna.com/v1/sessions/0b1d9815-165e-42e2-8867-35bc03789e00/redirect
        customer:
          gender: male
          date_of_birth: 1978-12-31
      properties:
        billing_address:
          $ref: '#/components/schemas/address'
        customer:
          $ref: '#/components/schemas/customer_read_create_token'
        payment_method_reference:
          description: Used to connect customers with payment method when it is present.
          example: 0b1d9815-165e-42e2-8867-35bc03789e00
          type: string
          x-konfig-original-example: 0b1d9815-165e-42e2-8867-35bc03789e00
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_token_creation_response-properties-payment_method_reference
        redirect_url:
          description: URL to redirect the customer to after placing the order. This
            is a Klarna URL where Klarna will place a cookie in the customer’s browser
            (if redirected) and redirect the customer back to the confirmation URL
            provided by the merchant. This is not a mandatory step but a recommended
            one to improve the returning customer’s experience.
          example: https://credit.klarna.com/v1/sessions/0b1d9815-165e-42e2-8867-35bc03789e00/redirect
          type: string
          x-konfig-original-example: https://credit.klarna.com/v1/sessions/0b1d9815-165e-42e2-8867-35bc03789e00/redirect
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_token_creation_response-properties-redirect_url
        token_id:
          description: Generated customer token. This token will be used to create
            a new order for the subscription using the Create a New order using token
            API.
          example: 0b1d9815-165e-42e2-8867-35bc03789e00
          type: string
          x-konfig-original-example: 0b1d9815-165e-42e2-8867-35bc03789e00
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-customer_token_creation_response-properties-token_id
      required:
      - token_id
      type: object
      x-konfig-is-used-in-successful-response: true
    merchant_session:
      example:
        client_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
        payment_method_categories:
        - asset_urls:
            standard: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
            descriptive: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          identifier: klarna
          name: Pay with Klarna
        - asset_urls:
            standard: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
            descriptive: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          identifier: klarna
          name: Pay with Klarna
        session_id: 0b1d9815-165e-42e2-8867-35bc03789e00
      properties:
        client_token:
          description: Client token to be passed to the JS client while initializing
            the JS SDK in the next step.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
          maxLength: 4096
          minLength: 0
          type: string
          x-konfig-original-example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_session-properties-client_token
        payment_method_categories:
          description: Available payment method categories for this particular session
          items:
            $ref: '#/components/schemas/payment_method_category'
          type: array
          uniqueItems: true
        session_id:
          description: ID of the created session. Please use this ID to share with
            Klarna for identifying any issues during integration.
          example: 0b1d9815-165e-42e2-8867-35bc03789e00
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: 0b1d9815-165e-42e2-8867-35bc03789e00
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_session-properties-session_id
      required:
      - client_token
      - session_id
      type: object
      x-konfig-is-used-in-successful-response: true
    merchant_urls:
      example:
        authorization: https://www.example-url.com/authorization
        notification: https://www.example-url.com/notification
        confirmation: https://www.example-url.com/confirmation
        push: https://www.example-url.com/push
      properties:
        confirmation:
          description: "URL of the merchant confirmation page. The consumer will be\
            \ redirected back to the confirmation page if the consumer is sent to\
            \ the redirect URL after placing the order. Insert {session.id} and/or\
            \ {order.id} as placeholder to connect either of those IDs to the URL(max\
            \ 2000 characters)."
          example: https://www.example-url.com/confirmation
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example-url.com/confirmation
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-confirmation
        notification:
          description: "URL for notifications on pending orders. Insert {session.id}\
            \ and/or {order.id} as placeholder to connect either of those IDs to the\
            \ URL (max 2000 characters)."
          example: https://www.example-url.com/notification
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example-url.com/notification
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-notification
        push:
          description: "URL that will be requested when an order is completed. Should\
            \ be different than checkout and confirmation URLs. Insert {session.id}\
            \ and/or {order.id} as placeholder to connect either of those IDs to the\
            \ URL (max 2000 characters)."
          example: https://www.example-url.com/push
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example-url.com/push
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-push
        authorization:
          description: URL for receiving the authorization token when payment is completed.
            Used for Authorization Callback.
          example: https://www.example-url.com/authorization
          maxLength: 2000
          minLength: 0
          type: string
          x-konfig-original-example: https://www.example-url.com/authorization
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-merchant_urls-properties-authorization
      type: object
    options:
      example:
        color_details: '#FF9900'
        radius_border: 5px
        color_text: '#FF9900'
        color_border: '#FF9900'
        color_border_selected: '#FF9900'
      properties:
        color_border:
          description: "Color for the border of elements within the iFrame. Value\
            \ should be a CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_border
        color_border_selected:
          description: "Color for the border of elements within the iFrame when selected\
            \ by the customer. Value should be a CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_border_selected
        color_details:
          description: "Color for the bullet points within the iFrame. Value should\
            \ be a CSS hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_details
        color_text:
          description: "Color for the texts within the iFrame. Value should be a CSS\
            \ hex color, e.g. \"#FF9900\""
          example: '#FF9900'
          pattern: "^#[A-Fa-f0-9]{6}$"
          type: string
          x-konfig-original-example: '#FF9900'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-color_text
        radius_border:
          description: Radius for the border of elements within the iFrame.
          example: 5px
          type: string
          x-konfig-original-example: 5px
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-options-properties-radius_border
      type: object
    order:
      example:
        fraud_status: fraud_status
        authorized_payment_method:
          number_of_days: 0
          number_of_installments: 6
          type: invoice
        order_id: order_id
        redirect_url: https://credit.klarna.com/v1/sessions/0b1d9815-165e-42e2-8867-35bc03789e00/redirect
      properties:
        authorized_payment_method:
          $ref: '#/components/schemas/authorized_payment_method'
        fraud_status:
          description: "Fraud status for the order. Either ACCEPTED or PENDING. If\
            \ ACCEPTED, the order could be captured. If PENDING, please wait till\
            \ you receive the notification from Klarna in the notification URL that\
            \ the order has been approved. You can find additional information here."
          type: string
        order_id:
          description: Unique order ID of the transaction. This ID will be used for
            all order management processes.
          type: string
        redirect_url:
          description: URL to redirect the customer to after placing the order. This
            is a Klarna URL to which the merchant should redirect the customer to.
            Klarna will place a cookie in the customer’s browser (if redirected) and
            redirect the customer back to the confirmation URL provided by the merchant.
            This is not a mandatory step but a recommended one to improve the returning
            customer’s experience. It is a spontaneous step and does not harm the
            customer’s experience.
          example: https://credit.klarna.com/v1/sessions/0b1d9815-165e-42e2-8867-35bc03789e00/redirect
          type: string
          x-konfig-original-example: https://credit.klarna.com/v1/sessions/0b1d9815-165e-42e2-8867-35bc03789e00/redirect
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order-properties-redirect_url
      required:
      - order_id
      type: object
      x-konfig-is-used-in-successful-response: true
    order_line:
      example:
        quantity_unit: pcs
        product_url: https://.../AD6654412.html
        quantity: 1
        image_url: https://www.exampleobjects.com/logo.png
        merchant_data: "{\"customer_account_info\":[{\"unique_account_identifier\"\
          :\"test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
          ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
        total_discount_amount: 500
        subscription:
          interval_count: 1
          name: name
          interval: DAY
        type: physical
        unit_price: 2500
        tax_rate: 2000
        reference: AD6654412
        product_identifiers:
          global_trade_item_number: "4912345678904"
          color: white
          size: small
          manufacturer_part_number: AD6654412-334.22
          category_path: Shoes > Running
          brand: shoe-brand
        total_amount: 2000
        name: Running shoe
        total_tax_amount: 333
      properties:
        image_url:
          description: |-
            URL to an image that can be later embedded in communications between Klarna and the customer. (max 1024 characters).
             A minimum of 250x250 px resolution is recommended for the image to look good in the Klarna app, and below 50x50 px won't even show. We recommend using a good sized image (650x650 px or more), however the file size must not exceed 12MB.
          example: https://www.exampleobjects.com/logo.png
          maxLength: 1024
          minLength: 0
          type: string
          x-konfig-original-example: https://www.exampleobjects.com/logo.png
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-image_url
        merchant_data:
          description: Used for storing merchant's internal order number or other
            reference. Pass through field. (max 1024 characters)
          example: "{\"customer_account_info\":[{\"unique_account_identifier\":\"\
            test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          maxLength: 1024
          minLength: 0
          type: string
          x-konfig-original-example: "{\"customer_account_info\":[{\"unique_account_identifier\"\
            :\"test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-merchant_data
        name:
          description: Descriptive name of the order line item.
          example: Running shoe
          maxLength: 255
          minLength: 1
          type: string
          x-konfig-original-example: Running shoe
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-name
        product_identifiers:
          $ref: '#/components/schemas/product_identifiers'
        product_url:
          description: URL to the product in the merchant’s webshop that can be later
            used in communications between Klarna and the customer. (max 1024 characters)
          example: https://.../AD6654412.html
          maxLength: 1024
          minLength: 0
          type: string
          x-konfig-original-example: https://.../AD6654412.html
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-product_url
        quantity:
          description: Quantity of the order line item. Must be a non-negative number.
          example: 1
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-quantity
        quantity_unit:
          description: "Unit used to describe the quantity, e.g. kg, pcs, etc. If\
            \ defined the value has to be 1-8 characters."
          example: pcs
          maxLength: 8
          minLength: 1
          type: string
          x-konfig-original-example: pcs
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-quantity_unit
        reference:
          description: "Client facing article number, SKU or similar. Max length is\
            \ 256 characters."
          example: AD6654412
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: AD6654412
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-reference
        tax_rate:
          description: Tax rate of the order line. Non-negative value. The percentage
            value is represented with two implicit decimals. I.e 2000 = 20%.
          example: 2000
          format: int64
          maximum: 10000
          minimum: 0
          type: integer
          x-konfig-original-example: 2000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-tax_rate
        total_amount:
          description: "Total amount of the order line. Must be defined as minor units.\
            \ Includes tax and discount. Eg: 2000=20 euros\nValue = (quantity x unit_price)\
            \ - total_discount_amount. \n(max value: 200000000)"
          example: 2000
          format: int64
          maximum: 200000000
          type: integer
          x-konfig-original-example: 2000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-total_amount
        total_discount_amount:
          description: "Non-negative minor units. Includes tax. Eg: 500=5 euros"
          example: 500
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 500
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-total_discount_amount
        total_tax_amount:
          description: Total tax amount of the order line. Must be within ±1 of total_amount
            - total_amount 10000 / (10000 + tax_rate). Negative when type is discount.
          example: 333
          format: int64
          type: integer
          x-konfig-original-example: 333
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-total_tax_amount
        type:
          description: |-
            Type of the order line item. The possible values are:

            physical
            discount
            shipping_fee
            sales_tax
            digital
            gift_card
            store_credit
            surcharge
          example: physical
          type: string
          x-konfig-original-example: physical
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-type
        unit_price:
          description: "Price for a single unit of the order line. Must be defined\
            \ as minor units. Includes tax, excludes discount. (max value: 200000000)"
          example: 2500
          format: int64
          maximum: 200000000
          type: integer
          x-konfig-original-example: 2500
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-order_line-properties-unit_price
        subscription:
          $ref: '#/components/schemas/subscription'
      required:
      - name
      - quantity
      - total_amount
      - unit_price
      type: object
    payment_method_category:
      example:
        asset_urls:
          standard: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          descriptive: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
        identifier: klarna
        name: Pay with Klarna
      properties:
        asset_urls:
          $ref: '#/components/schemas/asset_urls'
        identifier:
          description: |-
            ID of the payment method category to be used while loading the widget later.
            The possible values are:<ul><li>klarna</li><li>pay_later</li><li>pay_now</li><li>pay_over_time</li><li>direct_bank_transfer</li><li>direct_debit</li></ul>
          example: klarna
          type: string
          x-konfig-original-example: klarna
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-payment_method_category-properties-identifier
        name:
          description: "Name of the payment method category. These names are dynamic\
            \ depending on what payment method is in the category. Using this dynamic\
            \ asset will make sure that any copy update of Klarna will automatically\
            \ be propagated, or any updates of included payment methods by you."
          example: Pay with Klarna
          type: string
          x-konfig-original-example: Pay with Klarna
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-payment_method_category-properties-name
      type: object
    product_identifiers:
      example:
        global_trade_item_number: "4912345678904"
        color: white
        size: small
        manufacturer_part_number: AD6654412-334.22
        category_path: Shoes > Running
        brand: shoe-brand
      properties:
        brand:
          description: "The product's brand name as generally recognized by consumers.\
            \ If no brand is available for a product, do not supply any value."
          example: shoe-brand
          maxLength: 70
          minLength: 0
          type: string
          x-konfig-original-example: shoe-brand
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-brand
        category_path:
          description: The product's category path as used in the merchant's webshop.
            Include the full and most detailed category and separate the segments
            with ' > '
          example: Shoes > Running
          maxLength: 750
          minLength: 0
          type: string
          x-konfig-original-example: Shoes > Running
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-category_path
        global_trade_item_number:
          description: "The product's Global Trade Item Number (GTIN). Common types\
            \ of GTIN are EAN, ISBN or UPC. Exclude dashes and spaces, where possible"
          example: "4912345678904"
          maxLength: 50
          minLength: 0
          type: string
          x-konfig-original-example: "4912345678904"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-global_trade_item_number
        manufacturer_part_number:
          description: "The product's Manufacturer Part Number (MPN), which - together\
            \ with the brand - uniquely identifies a product. Only submit MPNs assigned\
            \ by a manufacturer and use the most specific MPN possible"
          example: AD6654412-334.22
          maxLength: 70
          minLength: 0
          type: string
          x-konfig-original-example: AD6654412-334.22
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-manufacturer_part_number
        color:
          description: Color to be shown to the end customer (max 64 characters).
          example: white
          maxLength: 64
          minLength: 0
          type: string
          x-konfig-original-example: white
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-color
        size:
          description: Size to be shown to the end customer (max 64 characters).
          example: small
          maxLength: 64
          minLength: 0
          type: string
          x-konfig-original-example: small
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-product_identifiers-properties-size
      type: object
    session:
      properties:
        acquiring_channel:
          description: The acquiring channel in which the session takes place. Ecommerce
            is default unless specified. Any other values should be defined in the
            agreement.
          enum:
          - ECOMMERCE
          - IN_STORE
          - TELESALES
          example: ECOMMERCE
          type: string
          x-konfig-original-example: ECOMMERCE
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-acquiring_channel
        attachment:
          $ref: '#/components/schemas/attachment'
        authorization_token:
          description: Authorization token.
          readOnly: true
          type: string
        billing_address:
          $ref: '#/components/schemas/address'
        client_token:
          description: Token to be passed to the JS client
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
          maxLength: 4096
          minLength: 0
          readOnly: true
          type: string
          x-konfig-original-example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-client_token
        custom_payment_method_ids:
          description: "Promo codes - The array could be used to define which of the\
            \ configured payment options within a payment category (pay_later, pay_over_time,\
            \ etc.) should be shown for this purchase. Discuss with the delivery manager\
            \ to know about the promo codes that will be configured for your account.\
            \ The feature could also be used to provide promotional offers to specific\
            \ customers (eg: 0% financing). Please be informed that the usage of this\
            \ feature can have commercial implications. "
          items:
            type: string
          type: array
        customer:
          $ref: '#/components/schemas/customer'
        design:
          description: Design package to use in the session. This can only by used
            if a custom design has been implemented for Klarna Payments and agreed
            upon in the agreement. It might have a financial impact. Delivery manager
            will provide the value for the parameter.
          type: string
        expires_at:
          description: Session expiration date
          example: 2038-01-19T03:14:07Z
          format: date-time
          readOnly: true
          type: string
          x-konfig-original-example: 2038-01-19T03:14:07.000Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-expires_at
        locale:
          description: |-
            Used to define the language and region of the customer. The locale follows the format of [RFC 1766](https://datatracker.ietf.org/doc/rfc1766/), meaning its value consists of language-country.
            Read more on **[Supported Locals and Currencies](https://docs.klarna.com/klarna-payments/in-depth-knowledge/puchase-countries-currencies-locales/)**.
          example: en-GB
          pattern: "^[A-Za-z]{2,2}(?:-[A-Za-z]{2,2})*$"
          type: string
          x-konfig-original-example: en-GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-locale
        merchant_data:
          description: Pass through field to send any information about the order
            to be used later for reference while retrieving the order details (max
            6000 characters)
          example: "{\"order_specific\":[{\"substore\":\"Women's Fashion\",\"product_name\"\
            :\"Women Sweatshirt\"}]}"
          maxLength: 6000
          minLength: 0
          type: string
          x-konfig-original-example: "{\"order_specific\":[{\"substore\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-merchant_data
        merchant_reference1:
          description: Used for storing merchant's internal order number or other
            reference.
          example: ON4711
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: ON4711
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-merchant_reference1
        merchant_reference2:
          description: Used for storing merchant's internal order number or other
            reference. The value is available in the settlement files. (max 255 characters).
          example: hdt53h-zdgg6-hdaff2
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: hdt53h-zdgg6-hdaff2
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-merchant_reference2
        merchant_urls:
          $ref: '#/components/schemas/merchant_urls'
        options:
          $ref: '#/components/schemas/options'
        order_amount:
          description: "Total amount of the order including tax and any available\
            \ discounts. The value should be in non-negative minor units. Eg: 25 Euros\
            \ should be 2500."
          example: 2000
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 2000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-order_amount
        order_lines:
          description: The array containing list of line items that are part of this
            order. Maximum of 1000 line items could be processed in a single order.
          items:
            $ref: '#/components/schemas/order_line'
          maxItems: 1000
          minItems: 1
          type: array
        order_tax_amount:
          description: "Total tax amount of the order. The value should be in non-negative\
            \ minor units. Eg: 25 Euros should be 2500."
          example: 333
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 333
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-order_tax_amount
        payment_method_categories:
          description: Available payment method categories
          items:
            $ref: '#/components/schemas/payment_method_category'
          readOnly: true
          type: array
          uniqueItems: true
        purchase_country:
          description: "The purchase country of the customer. The billing country\
            \ always overrides purchase country if the values are different. Formatted\
            \ according to ISO 3166 alpha-2 standard, e.g. GB, SE, DE, US, etc."
          example: GB
          pattern: "^[A-Za-z]{2,2}$"
          type: string
          x-konfig-original-example: GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-purchase_country
        purchase_currency:
          description: "The purchase currency of the order. Formatted according to\
            \ ISO 4217 standard, e.g. USD, EUR, SEK, GBP, etc."
          example: GBP
          pattern: "^[A-Za-z]{3,3}$"
          type: string
          x-konfig-original-example: GBP
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-purchase_currency
        shipping_address:
          $ref: '#/components/schemas/address'
        status:
          description: "The current status of the session. Possible values: 'complete',\
            \ 'incomplete' where 'complete' is set when the order has been placed."
          enum:
          - complete
          - incomplete
          example: complete
          readOnly: true
          type: string
          x-konfig-original-example: complete
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-status
        intent:
          description: Intent for the session. The field is designed to let partners
            inform Klarna of the purpose of the customer’s session.
          enum:
          - buy
          - tokenize
          - buy_and_tokenize
          example: buy
          type: string
          x-konfig-original-example: buy
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session-properties-intent
      type: object
    session_create:
      properties:
        acquiring_channel:
          description: The acquiring channel in which the session takes place. Ecommerce
            is default unless specified. Any other values should be defined in the
            agreement.
          enum:
          - ECOMMERCE
          - IN_STORE
          - TELESALES
          example: ECOMMERCE
          type: string
          x-konfig-original-example: ECOMMERCE
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-acquiring_channel
        attachment:
          $ref: '#/components/schemas/attachment'
        authorization_token:
          description: Authorization token.
          readOnly: true
          type: string
        billing_address:
          $ref: '#/components/schemas/address'
        client_token:
          description: Token to be passed to the JS client
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
          maxLength: 4096
          minLength: 0
          readOnly: true
          type: string
          x-konfig-original-example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-client_token
        custom_payment_method_ids:
          description: "Promo codes - The array could be used to define which of the\
            \ configured payment options within a payment category (pay_later, pay_over_time,\
            \ etc.) should be shown for this purchase. Discuss with the delivery manager\
            \ to know about the promo codes that will be configured for your account.\
            \ The feature could also be used to provide promotional offers to specific\
            \ customers (eg: 0% financing). Please be informed that the usage of this\
            \ feature can have commercial implications. "
          items:
            type: string
          type: array
        customer:
          $ref: '#/components/schemas/customer'
        design:
          description: Design package to use in the session. This can only by used
            if a custom design has been implemented for Klarna Payments and agreed
            upon in the agreement. It might have a financial impact. Delivery manager
            will provide the value for the parameter.
          type: string
        expires_at:
          description: Session expiration date
          example: 2038-01-19T03:14:07Z
          format: date-time
          readOnly: true
          type: string
          x-konfig-original-example: 2038-01-19T03:14:07.000Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-expires_at
        locale:
          description: |-
            Used to define the language and region of the customer. The locale follows the format of [RFC 1766](https://datatracker.ietf.org/doc/rfc1766/), meaning its value consists of language-country. Default value is "en-US".
            Read more on **[Supported Locals and Currencies](https://docs.klarna.com/klarna-payments/in-depth-knowledge/puchase-countries-currencies-locales/)**.
          example: en-US
          pattern: "^[A-Za-z]{2,2}(?:-[A-Za-z]{2,2})*$"
          type: string
          x-konfig-original-example: en-US
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-locale
        merchant_data:
          description: Pass through field to send any information about the order
            to be used later for reference while retrieving the order details (max
            6000 characters)
          example: "{\"order_specific\":[{\"substore\":\"Women's Fashion\",\"product_name\"\
            :\"Women Sweatshirt\"}]}"
          maxLength: 6000
          minLength: 0
          type: string
          x-konfig-original-example: "{\"order_specific\":[{\"substore\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-merchant_data
        merchant_reference1:
          description: Used for storing merchant's internal order number or other
            reference.
          example: ON4711
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: ON4711
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-merchant_reference1
        merchant_reference2:
          description: Used for storing merchant's internal order number or other
            reference. The value is available in the settlement files. (max 255 characters).
          example: hdt53h-zdgg6-hdaff2
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: hdt53h-zdgg6-hdaff2
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-merchant_reference2
        merchant_urls:
          $ref: '#/components/schemas/merchant_urls'
        options:
          $ref: '#/components/schemas/options'
        order_amount:
          description: "Total amount of the order including tax and any available\
            \ discounts. The value should be in non-negative minor units. Eg: 25 Euros\
            \ should be 2500."
          example: 2000
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 2000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-order_amount
        order_lines:
          description: The array containing list of line items that are part of this
            order. Maximum of 1000 line items could be processed in a single order.
          items:
            $ref: '#/components/schemas/order_line'
          maxItems: 1000
          minItems: 1
          type: array
        order_tax_amount:
          description: "Total tax amount of the order. The value should be in non-negative\
            \ minor units. Eg: 25 Euros should be 2500."
          example: 333
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 333
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-order_tax_amount
        payment_method_categories:
          description: Available payment method categories
          items:
            $ref: '#/components/schemas/payment_method_category'
          readOnly: true
          type: array
          uniqueItems: true
        purchase_country:
          description: "The purchase country of the customer. The billing country\
            \ always overrides purchase country if the values are different. Formatted\
            \ according to ISO 3166 alpha-2 standard, e.g. GB, SE, DE, US, etc."
          example: GB
          pattern: "^[A-Za-z]{2,2}$"
          type: string
          x-konfig-original-example: GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-purchase_country
        purchase_currency:
          description: "The purchase currency of the order. Formatted according to\
            \ ISO 4217 standard, e.g. USD, EUR, SEK, GBP, etc."
          example: GBP
          pattern: "^[A-Za-z]{3,3}$"
          type: string
          x-konfig-original-example: GBP
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-purchase_currency
        shipping_address:
          $ref: '#/components/schemas/address'
        status:
          description: "The current status of the session. Possible values: 'complete',\
            \ 'incomplete' where 'complete' is set when the order has been placed."
          enum:
          - complete
          - incomplete
          example: complete
          readOnly: true
          type: string
          x-konfig-original-example: complete
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-status
        intent:
          description: Intent for the session. The field is designed to let partners
            inform Klarna of the purpose of the customer’s session.
          enum:
          - buy
          - tokenize
          - buy_and_tokenize
          example: buy
          type: string
          x-konfig-original-example: buy
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_create-properties-intent
      required:
      - order_amount
      - order_lines
      - purchase_country
      - purchase_currency
      type: object
    session_read:
      example:
        acquiring_channel: ECOMMERCE
        merchant_data: "{\"order_specific\":[{\"substore\":\"Women's Fashion\",\"\
          product_name\":\"Women Sweatshirt\"}]}"
        purchase_country: GB
        purchase_currency: GBP
        billing_address:
          country: GB
          street_address: 33 Cavendish Square
          city: London
          organization_name: organization_name
          title: Mr.
          given_name: Adam
          phone: +44795465131
          street_address2: Floor 22 / Flat 2
          attention: Attn
          postal_code: W1G 0PW
          region: OH
          family_name: Andersson
          email: test.sam@test.com
        locale: en-GB
        intent: buy
        client_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
        order_tax_amount: 333
        expires_at: 2038-01-19T03:14:07Z
        attachment:
          content_type: application/vnd.klarna.internal.emd-v2+json
          body: "{\"customer_account_info\":[{\"unique_account_identifier\":\"test@gmail.com\"\
            ,\"account_registration_date\":\"2017-02-13T10:49:20Z\",\"account_last_modified\"\
            :\"2019-03-13T11:45:27Z\"}]}"
        merchant_reference2: hdt53h-zdgg6-hdaff2
        payment_method_categories:
        - asset_urls:
            standard: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
            descriptive: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          identifier: klarna
          name: Pay with Klarna
        - asset_urls:
            standard: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
            descriptive: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
          identifier: klarna
          name: Pay with Klarna
        authorization_token: authorization_token
        merchant_urls:
          authorization: https://www.example-url.com/authorization
          notification: https://www.example-url.com/notification
          confirmation: https://www.example-url.com/confirmation
          push: https://www.example-url.com/push
        design: design
        merchant_reference1: ON4711
        order_amount: 2000
        options:
          color_details: '#FF9900'
          radius_border: 5px
          color_text: '#FF9900'
          color_border: '#FF9900'
          color_border_selected: '#FF9900'
        order_lines:
        - quantity_unit: pcs
          product_url: https://.../AD6654412.html
          quantity: 1
          image_url: https://www.exampleobjects.com/logo.png
          merchant_data: "{\"customer_account_info\":[{\"unique_account_identifier\"\
            :\"test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          total_discount_amount: 500
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 2500
          tax_rate: 2000
          reference: AD6654412
          product_identifiers:
            global_trade_item_number: "4912345678904"
            color: white
            size: small
            manufacturer_part_number: AD6654412-334.22
            category_path: Shoes > Running
            brand: shoe-brand
          total_amount: 2000
          name: Running shoe
          total_tax_amount: 333
        - quantity_unit: pcs
          product_url: https://.../AD6654412.html
          quantity: 1
          image_url: https://www.exampleobjects.com/logo.png
          merchant_data: "{\"customer_account_info\":[{\"unique_account_identifier\"\
            :\"test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          total_discount_amount: 500
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 2500
          tax_rate: 2000
          reference: AD6654412
          product_identifiers:
            global_trade_item_number: "4912345678904"
            color: white
            size: small
            manufacturer_part_number: AD6654412-334.22
            category_path: Shoes > Running
            brand: shoe-brand
          total_amount: 2000
          name: Running shoe
          total_tax_amount: 333
        - quantity_unit: pcs
          product_url: https://.../AD6654412.html
          quantity: 1
          image_url: https://www.exampleobjects.com/logo.png
          merchant_data: "{\"customer_account_info\":[{\"unique_account_identifier\"\
            :\"test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          total_discount_amount: 500
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 2500
          tax_rate: 2000
          reference: AD6654412
          product_identifiers:
            global_trade_item_number: "4912345678904"
            color: white
            size: small
            manufacturer_part_number: AD6654412-334.22
            category_path: Shoes > Running
            brand: shoe-brand
          total_amount: 2000
          name: Running shoe
          total_tax_amount: 333
        - quantity_unit: pcs
          product_url: https://.../AD6654412.html
          quantity: 1
          image_url: https://www.exampleobjects.com/logo.png
          merchant_data: "{\"customer_account_info\":[{\"unique_account_identifier\"\
            :\"test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          total_discount_amount: 500
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 2500
          tax_rate: 2000
          reference: AD6654412
          product_identifiers:
            global_trade_item_number: "4912345678904"
            color: white
            size: small
            manufacturer_part_number: AD6654412-334.22
            category_path: Shoes > Running
            brand: shoe-brand
          total_amount: 2000
          name: Running shoe
          total_tax_amount: 333
        - quantity_unit: pcs
          product_url: https://.../AD6654412.html
          quantity: 1
          image_url: https://www.exampleobjects.com/logo.png
          merchant_data: "{\"customer_account_info\":[{\"unique_account_identifier\"\
            :\"test@gmail.com\",\"account_registration_date\":\"2017-02-13T10:49:20Z\"\
            ,\"account_last_modified\":\"2019-03-13T11:45:27Z\"}]}"
          total_discount_amount: 500
          subscription:
            interval_count: 1
            name: name
            interval: DAY
          type: physical
          unit_price: 2500
          tax_rate: 2000
          reference: AD6654412
          product_identifiers:
            global_trade_item_number: "4912345678904"
            color: white
            size: small
            manufacturer_part_number: AD6654412-334.22
            category_path: Shoes > Running
            brand: shoe-brand
          total_amount: 2000
          name: Running shoe
          total_tax_amount: 333
        shipping_address:
          country: GB
          street_address: 33 Cavendish Square
          city: London
          organization_name: organization_name
          title: Mr.
          given_name: Adam
          phone: +44795465131
          street_address2: Floor 22 / Flat 2
          attention: Attn
          postal_code: W1G 0PW
          region: OH
          family_name: Andersson
          email: test.sam@test.com
        custom_payment_method_ids:
        - custom_payment_method_ids
        - custom_payment_method_ids
        customer:
          gender: male
          date_of_birth: 1978-12-31
          organization_registration_id: organization_registration_id
          vat_id: vat_id
          title: Mr.
          type: organization
          organization_entity_type: LIMITED_COMPANY
        status: complete
      properties:
        acquiring_channel:
          description: The acquiring channel in which the session takes place. Ecommerce
            is default unless specified. Any other values should be defined in the
            agreement.
          enum:
          - ECOMMERCE
          - IN_STORE
          - TELESALES
          example: ECOMMERCE
          type: string
          x-konfig-original-example: ECOMMERCE
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-acquiring_channel
        attachment:
          $ref: '#/components/schemas/attachment'
        authorization_token:
          description: Authorization token.
          readOnly: true
          type: string
        billing_address:
          $ref: '#/components/schemas/address'
        client_token:
          description: Token to be passed to the JS client
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
          maxLength: 4096
          minLength: 0
          readOnly: true
          type: string
          x-konfig-original-example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJzZXNzaW9uX2lkIiA6ICIw
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-client_token
        custom_payment_method_ids:
          description: "Promo codes - The array could be used to define which of the\
            \ configured payment options within a payment category (pay_later, pay_over_time,\
            \ etc.) should be shown for this purchase. Discuss with the delivery manager\
            \ to know about the promo codes that will be configured for your account.\
            \ The feature could also be used to provide promotional offers to specific\
            \ customers (eg: 0% financing). Please be informed that the usage of this\
            \ feature can have commercial implications. "
          items:
            type: string
          type: array
        customer:
          $ref: '#/components/schemas/customer_read'
        design:
          description: Design package to use in the session. This can only by used
            if a custom design has been implemented for Klarna Payments and agreed
            upon in the agreement. It might have a financial impact. Delivery manager
            will provide the value for the parameter.
          type: string
        expires_at:
          description: Session expiration date
          example: 2038-01-19T03:14:07Z
          format: date-time
          readOnly: true
          type: string
          x-konfig-original-example: 2038-01-19T03:14:07.000Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-expires_at
        locale:
          description: |-
            Used to define the language and region of the customer. The locale follows the format of [RFC 1766](https://datatracker.ietf.org/doc/rfc1766/), meaning its value consists of language-country.
            Read more on **[Supported Locals and Currencies](https://docs.klarna.com/klarna-payments/in-depth-knowledge/puchase-countries-currencies-locales/)**.
          example: en-GB
          pattern: "^[A-Za-z]{2,2}(?:-[A-Za-z]{2,2})*$"
          type: string
          x-konfig-original-example: en-GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-locale
        merchant_data:
          description: Pass through field to send any information about the order
            to be used later for reference while retrieving the order details (max
            6000 characters)
          example: "{\"order_specific\":[{\"substore\":\"Women's Fashion\",\"product_name\"\
            :\"Women Sweatshirt\"}]}"
          maxLength: 6000
          minLength: 0
          type: string
          x-konfig-original-example: "{\"order_specific\":[{\"substore\":\"Women's\
            \ Fashion\",\"product_name\":\"Women Sweatshirt\"}]}"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-merchant_data
        merchant_reference1:
          description: Used for storing merchant's internal order number or other
            reference.
          example: ON4711
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: ON4711
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-merchant_reference1
        merchant_reference2:
          description: Used for storing merchant's internal order number or other
            reference. The value is available in the settlement files. (max 255 characters).
          example: hdt53h-zdgg6-hdaff2
          maxLength: 255
          minLength: 0
          type: string
          x-konfig-original-example: hdt53h-zdgg6-hdaff2
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-merchant_reference2
        merchant_urls:
          $ref: '#/components/schemas/merchant_urls'
        options:
          $ref: '#/components/schemas/options'
        order_amount:
          description: "Total amount of the order including tax and any available\
            \ discounts. The value should be in non-negative minor units. Eg: 25 Euros\
            \ should be 2500."
          example: 2000
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 2000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-order_amount
        order_lines:
          description: The array containing list of line items that are part of this
            order. Maximum of 1000 line items could be processed in a single order.
          items:
            $ref: '#/components/schemas/order_line'
          maxItems: 1000
          minItems: 1
          type: array
        order_tax_amount:
          description: "Total tax amount of the order. The value should be in non-negative\
            \ minor units. Eg: 25 Euros should be 2500."
          example: 333
          format: int64
          minimum: 0
          type: integer
          x-konfig-original-example: 333
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-order_tax_amount
        payment_method_categories:
          description: Available payment method categories
          items:
            $ref: '#/components/schemas/payment_method_category'
          readOnly: true
          type: array
          uniqueItems: true
        purchase_country:
          description: "The purchase country of the customer. The billing country\
            \ always overrides purchase country if the values are different. Formatted\
            \ according to ISO 3166 alpha-2 standard, e.g. GB, SE, DE, US, etc."
          example: GB
          pattern: "^[A-Za-z]{2,2}$"
          type: string
          x-konfig-original-example: GB
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-purchase_country
        purchase_currency:
          description: "The purchase currency of the order. Formatted according to\
            \ ISO 4217 standard, e.g. USD, EUR, SEK, GBP, etc."
          example: GBP
          pattern: "^[A-Za-z]{3,3}$"
          type: string
          x-konfig-original-example: GBP
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-purchase_currency
        shipping_address:
          $ref: '#/components/schemas/address'
        status:
          description: "The current status of the session. Possible values: 'complete',\
            \ 'incomplete' where 'complete' is set when the order has been placed."
          enum:
          - complete
          - incomplete
          example: complete
          readOnly: true
          type: string
          x-konfig-original-example: complete
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-status
        intent:
          description: Intent for the session. The field is designed to let partners
            inform Klarna of the purpose of the customer’s session.
          enum:
          - buy
          - tokenize
          - buy_and_tokenize
          example: buy
          type: string
          x-konfig-original-example: buy
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-session_read-properties-intent
      type: object
      x-konfig-is-used-in-successful-response: true
    subscription:
      example:
        interval_count: 1
        name: name
        interval: DAY
      properties:
        name:
          description: The name of the subscription product
          maxLength: 255
          minLength: 1
          type: string
        interval:
          description: The cadence unit for this.
          enum:
          - DAY
          - WEEK
          - MONTH
          - YEAR
          type: string
        interval_count:
          description: The number of intervals
          minimum: 1
          type: integer
      required:
      - interval
      - interval_count
      - name
      type: object
    konfig-generated-schema-components-schemas-address-properties-title:
      example: Mr.
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-attention:
      example: Attn
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-city:
      example: London
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-country:
      example: GB
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-email:
      example: test.sam@test.com
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-family_name:
      example: Andersson
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-given_name:
      example: Adam
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-phone:
      example: +44795465131
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-postal_code:
      example: W1G 0PW
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-region:
      example: OH
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-street_address:
      example: 33 Cavendish Square
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-address-properties-street_address2:
      example: Floor 22 / Flat 2
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-asset_urls-properties-descriptive:
      example: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-asset_urls-properties-standard:
      example: https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-attachment-properties-body:
      example: "{\"customer_account_info\":[{\"unique_account_identifier\":\"test@gmail.com\"\
        ,\"account_registration_date\":\"2017-02-13T10:49:20Z\",\"account_last_modified\"\
        :\"2019-03-13T11:45:27Z\"}]}"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-attachment-properties-content_type:
      example: application/vnd.klarna.internal.emd-v2+json
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-auto_capture:
      example: false
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-locale:
      example: en-GB
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-merchant_data:
      example: "{\"order_specific\":[{\"substore\":\"Women's Fashion\",\"product_name\"\
        :\"Women Sweatshirt\"}]}"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-merchant_reference1:
      example: ON4711
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-merchant_reference2:
      example: hdt53h-zdgg6-hdaff2
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-order_amount:
      example: 2000
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-order_tax_amount:
      example: 333
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-purchase_country:
      example: GB
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-purchase_currency:
      example: GBP
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-create_order_request-properties-status:
      example: complete
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-customer-properties-title:
      example: Mr.
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-customer-properties-date_of_birth:
      example: 1978-12-31
      type: string
      x-do-not-generate: true
[...]
